version: "3"
services:
  hub:
    image: selenium/hub:3.14
  chrome:
    image: selenium/node-chrome:3.14
    depends_on:
      - hub
    environment:
      - HUB_HOST=hub
  firefox:
    image: selenium/node-firefox:3.14
    shm_size: '1gb'
    depends_on:
      - hub
    environment:
      - HUB_HOST=hub
  searchtesting1:
    image: shiva439/selenium-docker
    depends_on:
      - chrome
      - firefox
    environment:
      - HUB_HOST=hub
      - BROWSER=chrome
      - TESTSUITEFILE=searchtesting.xml
    volumes:
      - ./output/search-results1:/usr/share/udemy/test-output
  bookflight1:
    image: shiva439/selenium-docker
    depends_on:
      - chrome
      - firefox
    environment:
      - HUB_HOST=hub
      - BROWSER=chrome
      - TESTSUITEFILE=bookflight.xml
    volumes:
      - ./output/book-results1:/usr/share/udemy/test-output




